.nav-wrapper {
  background-color: #212121;
}

a.brand-logo {
  padding-left: 10px;
  font-family: "Lobster", cursive;
}

.nav-content {
  background-color: #424242;
}

li.tab:hover {
  background-color: #ef5350;
}
